<template>
  <div>
    <div v-if="!editable">
      <label>{{label}}</label><span v-if="required"> - обязательно</span>
    </div>
    <div v-if="editable">
      <input :value="label" @change="changeHandler('label', $event.target.value)">
      <el-switch :value="required" @change="changeHandler('required', $event)"></el-switch>
    </div>

    <el-input :placeholder="placeholder" readonly></el-input>
  </div>
</template>

<script>
  function uuidv4() {
    return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
      (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
    )
  }

  export default {
    name: 'Input',
    props: {
      label: String,
      required: Boolean,
      placeholder: String,
      editable: false
    },
    data() {
      return {}
    },
    methods: {
      changeHandler(propName, value) {
        let prop = {}
        prop[propName] = value
        this.$emit('change', prop)
      },
      renderHtml({label, required}) {
        let id = uuidv4()
        let wrapper = document.createElement('div')

        let labelHtml = document.createElement('label')
        labelHtml.innerText = label
        labelHtml.setAttribute('for', id)
        wrapper.appendChild(labelHtml)

        let input = document.createElement('input')
        input.setAttribute('id', id)
        input.setAttribute('required', required)
        wrapper.appendChild(input)

        return wrapper.outerHTML
      }
    }
  }
</script>


<style scoped>

</style>
