<template>
  <div v-click-outside="setSelectedNull">

    <!--label-->
    <div v-if="editable && selectModel === 'label'">
      <input :value="label" @change="changeHandler('label', $event.target.value)">
      <el-switch :value="required" @change="changeHandler('required', $event)"></el-switch>
    </div>
    <div v-else>
      <label @click.stop="selectModel = 'label'">{{label}}</label><span v-if="required"> - обязательно</span>
    </div>

    <!--options-->
    <div v-for="(option, index) in options">
      <el-radio :label="option.value" @change="editOption(index)">
        <span v-if="selectModel === index">
          <input :value="option.value">
          <el-button icon="el-icon-close" type="text"
                     @click="deleteOption(index)"
          ></el-button>
        </span>
        <span v-else>{{option.name}}</span>
      </el-radio>
    </div>

    <!--button for add new options-->
    <div v-if="editable">
      <div v-if="selectModel === 'newOption'">
        <input v-model="newOption">
        <el-button v-if="editable"
                   icon="el-icon-plus" type="text"
                   @click="addOption(newOption)"
        ></el-button>
      </div>
      <div v-else>
        <el-button @click.stop="selectModel = 'newOption'" type="text">Добавить новый пункт</el-button>
      </div>
    </div>
  </div>
</template>

<script>
  import ClickOutside from 'vue-click-outside'

  function uuidv4() {
    return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
      (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
    )
  }

  export default {
    name: 'Radio',
    props: {
      label: String,
      required: Boolean,
      options: Array,
      editable: false
    },
    data() {
      return {
        selectModel: null,
        newOption: ''
      }
    },
    methods: {
      setSelectedNull() {
        this.selectModel = null
      },
      editOption(index) {
        this.selectModel = index
        console.log(index)
      },
      addOption(value) {
        let options = this.options
        for (let i = 0; i < options.length; i++) {
          if (options[i].value === value || options[i].name === value) return
        }
        options.push({name: value, value: value})
        console.log('add', options)
        this.changeHandler('options', options)
        this.selectModel = null
      },
      deleteOption(index) {
        let options = this.options
        options.splice(index, 1)
        this.selectModel = null
        console.log('delete', options)
        this.changeHandler('options', options)
        this.selectModel = null
      },
      changeHandler(propName, value) {
        let prop = {}
        prop[propName] = value
        this.$emit('change', prop)
      },
      renderHtml({label, required, options}) {
        let name = uuidv4()
        let wrapper = document.createElement('div')

        let labelHtml = document.createElement('label')
        labelHtml.innerText = label
        wrapper.appendChild(labelHtml)

        options.forEach(option => {
          let id = uuidv4()
          let labelHtml = document.createElement('label')
          labelHtml.setAttribute('for', id)
          labelHtml.innerText = option.name
          wrapper.appendChild(labelHtml)
          let opt = document.createElement('input')
          opt.setAttribute('type', 'radio')
          opt.setAttribute('id', id)
          opt.setAttribute('name', name)
          opt.setAttribute('value', option.value)
          wrapper.appendChild(opt)
        })

        return wrapper.outerHTML
      }
    },
    directives: {
      ClickOutside
    }
  }
</script>


<style scoped>

</style>
