<template>
  <div>
    <div v-if="!editable">
      <label>{{label}}</label><span v-if="required"> - обязательно</span>
    </div>
    <div v-if="editable">
      <input :value="label" @change="changeHandler('label', $event.target.value)">
      <el-switch :value="required" @change="changeHandler('required', $event)"></el-switch>
    </div>

    <el-select v-model="selectModel"
               placeholder="Впишите сюда еще пункт"
               @change="addOption"
               filterable
               :allow-create="true"
    >
      <el-option
          v-for="(item, index) in options"
          :key="item.value"
          :label="item.name"
          :value="item.value">
        <span style="float: left">{{ item.name }}</span>
        <span style="float: right; color: #F56C6C; font-size: 13px">
          <el-button icon="el-icon-close" type="text" @click.stop="deleteOption(index)"></el-button>
        </span>
      </el-option>
    </el-select>
  </div>
</template>

<script>
  function uuidv4() {
    return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
      (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
    )
  }

  export default {
    name: 'Select',
    props: {
      label: String,
      required: Boolean,
      placeholder: String,
      options: Array,
      editable: false
    },
    data() {
      return {
        selectModel: null,
        dialogVisible: false,
        form: {
          name: '',
          value: ''
        }
      }
    },
    methods: {
      addOption(value) {
        let options = this.options
        for (let i = 0; i < options.length; i++) {
          if (options[i].value === value || options[i].name === value) return
        }
        options.push({name: value, value: value})
        // console.log('add', options)
        this.changeHandler('options', options)
        this.selectModel = null
      },
      deleteOption(index) {
        let options = this.options
        options.splice(index, 1)
        this.selectModel = null
        // console.log('delete', options)
        this.changeHandler('options', options)
        this.selectModel = null
      },
      changeHandler(propName, value) {
        let prop = {}
        prop[propName] = value
        this.$emit('change', prop)
      },
      renderHtml({label, required, options}) {
        let name = uuidv4()
        let id = uuidv4()
        let wrapper = document.createElement('div')

        let labelHtml = document.createElement('label')
        labelHtml.setAttribute('for', id)
        labelHtml.innerText = label
        wrapper.appendChild(labelHtml)

        let select = document.createElement('select')
        select.setAttribute('name', name)
        select.setAttribute('id', id)
        select.setAttribute('required', required)
        options.forEach(option => {
          let opt = document.createElement('option')
          opt.setAttribute('value', option.value)
          opt.innerText = option.name
          select.appendChild(opt)
        })
        wrapper.appendChild(select)

        return wrapper.outerHTML
      }
    }
  }
</script>


<style scoped>

</style>
