<template>
  <el-card>

    <!--Header-->
    <div slot="header">
      <span>Конструктор форм</span>
      <el-button-group style="float: right">
        <el-button size="mini" icon="el-icon-upload2"
                   :disabled="!form.length"
                   @click="save"> Сохранить
        </el-button>
        <el-button icon="el-icon-download" size="mini">
          <text-reader @load="importForm">Загрузить</text-reader>
        </el-button>
        <el-button icon="el-icon-delete" size="mini"
                   @click="form=[]"> Очистить форму
        </el-button>
      </el-button-group>
    </div>

    <!--Form-->
    <draggable
      class="drag"
      v-model="form"
      :options="{group:'people'}"
      @add="onAdd"
      v-click-outside="setSelectedNull"
    >
      <div v-for="(el, index) in form" :key="index" @click="selected = index">
        <component :is="el.component" v-bind="el.props"
                   @change="handleChang(index, $event)"
                   :editable="index===selected"
                   style="display: inline-block"></component>
        <el-button icon="el-icon-close" type="text"
                   @click="$delete(form, index)"
        ></el-button>
      </div>
    </draggable>

  </el-card>
</template>

<script>
import draggable from 'vuedraggable'
import saveAs from 'file-saver'
import ClickOutside from 'vue-click-outside'

import TextReader from '@/components/TextReader'

import Input from '@/components/controls/Input'
import TextArea from '@/components/controls/TextArea'
import Select from '@/components/controls/Select'
import Radio from '@/components/controls/Radio'

let scanDocument = doc => {
  let elements = []

  // self
  let attributes = {}
  for (let i = 0; i < doc.attributes.length; i++) {
    attributes[doc.attributes[i].name] = doc.attributes[i].value
  }
  elements.push({ tagName: doc.tagName, attributes: attributes })

  // children (recursion)
  for (let i = 0; i < doc.children.length; i++) {
    let children = scanDocument(doc.children[i])
    elements = elements.concat(children)
  }
  return elements
}

export default {
  name: 'Constructor',
  props: {
    msg: String
  },
  data () {
    return {
      form: [],
      selected: 0
    }
  },

  methods: {
    importForm (val) {
      // console.log('import:', val)
      let wrapper = document.createElement('div')
      wrapper.innerHTML = val

      var elements = scanDocument(wrapper)
      // console.log(elements)

      // for (let i = 0; i < elements.length; i++) {
      //   switch (this.elements[i].tagName) {
      //     case 'INPUT':
      //       console.log('case INPUT:', elements[i])
      //       break
      //   }
      // }
    },
    setSelectedNull () {
      this.selected = null
    },
    handleChang (index, data) {
      let props = this.form[index].props
      Object.keys(data).forEach(prop => {
        props[prop] = data[prop]
      })
      this.updatePropsElement(index, props)
    },
    updatePropsElement (index, props) {
      this.$set(this.form, index,
        { component: this.form[index].component, props: props })
    },
    onAdd (event) {
      let cloneProps = JSON.parse(
        JSON.stringify(this.form[event.newIndex].props))
      this.updatePropsElement(event.newIndex, cloneProps)
    },
    renderHtml () {
      let render = ''
      this.form.forEach(node => {
        render += node.component.methods.renderHtml(node.props)
      })
      // console.log(render)
      return render
    },
    save () {
      let html = this.renderHtml()
      let blob = new Blob([html], { type: 'text/plain;charset=utf-8' })
      saveAs(blob, 'form.html')
    }
  },
  components: {
    draggable,
    Input,
    TextArea,
    Select,
    Radio,
    TextReader
  },
  directives: {
    ClickOutside
  }
}
</script>


<style scoped>
  .drag {
    min-height: 200px;
    float: left;
    padding: 20px;
    margin: 20px;
  }

  .drag > div {
    padding-bottom: 20px;
  }
</style>
