<template>
  <el-card shadow="never">
    <div slot="header">Элементы</div>
    <draggable v-model="myArray"
               :options="{group: {name: 'people', pull: 'clone', put: false}}"
               @start="drag=true"
               @end="drag=false">
      <div v-for="(el, index) in myArray" :key="index">
        <el-card class="control">
          <component :is="el.component" v-bind="el.props"></component>
        </el-card>
      </div>
    </draggable>
  </el-card>
</template>

<script>
  import draggable from 'vuedraggable'
  import Input from '@/components/controls/Input'
  import TextArea from '@/components/controls/TextArea'
  import Select from '@/components/controls/Select'
  import Radio from '@/components/controls/Radio'

  export default {
    name: 'Controls',
    props: {
      msg: String
    },
    data() {
      return {
        myArray: [
          {
            component: Input,
            props: {label: 'Input', required: false, placeholder: 'Input text...'}
          },
          {
            component: TextArea,
            props: {label: 'TextArea', required: false, placeholder: 'Input text...'}
          },
          {
            component: Select,
            props: {
              label: 'Select',
              required: false,
              placeholder: 'Select...',
              options: [
                {value: 'Option 1', name: 'Option 1'},
                {value: 'Option 2', name: 'Option 2'}
              ]
            }
          },
          {
            component: Radio,
            props: {
              label: 'Radio',
              required: false,
              options: [
                {value: 'Option 1', name: 'Option 1'},
                {value: 'Option 2', name: 'Option 2'}
              ]
            }
          }
        ]
      }
    },
    components: {
      draggable,
      Input,
      TextArea,
      Select,
      Radio
    }
  }
</script>


<style scoped>
  .control {
    margin-bottom: 10px;
  }
</style>
