<template>
  <div id="app">
    <el-container>
      <el-main>
        <el-row :gutter="20">
          <el-col :span="6"><controls></controls></el-col>
          <el-col :span="18"><constructor></constructor></el-col>
        </el-row>
      </el-main>
    </el-container>
  </div>
</template>

<script>
  import Controls from './components/Controls.vue'
  import Constructor from './components/Constructor.vue'

  export default {
    name: 'app',
    components: {
      Controls,
      Constructor
    }
  }
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
</style>
